.Toolbar {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FAEBD7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    box-sizing: border-box;
    transition: all .5s ease-in-out, border-bottom 0s;
    z-index: 999;
}

.Toolbar:hover > nav > ul > li > a {
    color: #FAEBD7;
}

.Toolbar:hover {
    background-color: black;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 60px;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}