.App {
  text-align: center;
}

.NanumSquareR {
  font-family: 'NanumSquareR';
}

.NanumSquareR.Normal{
  font-size: 21px;
}

.NanumSquareB {
  font-family: 'NanumSquareB';
}

.NanumSquareB.Regular {
  font-size: 36px;
}

.NanumSquareEB {
  font-family: 'NanumSquareEB';
}

.NanumSquareEB.Small {
  font-size: 24px;
}

.NanumSquareEB.Regular {
  font-size: 48px;
}

.NanumSquareEB.Large {
  font-size: 55px;
}