body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NanumSquareEB';
  src: local('NanumSquareEB'), url('./assets/font/NanumSquareEB.woff');
}

@font-face {
  font-family: 'NanumSquareB';
  src: local('NanumSquareB'), url('./assets/font/NanumSquareB.woff');
}

@font-face {
  font-family: 'NanumSquareR';
  src: local('NanumSquareR'), url('./assets/font/NanumSquareR.woff');
}